<!-- <div class="app-layout">
  <app-navbar></app-navbar>  -->
  <!-- <app-landing-page></app-landing-page> -->
  <!-- <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
 </div>  -->
<div>
 <router-outlet></router-outlet>
 <!-- <app-navbar></app-navbar> -->
</div>

<!-- <app-login></app-login> -->
<!-- <app-sign-up></app-sign-up> -->
<!-- <main> -->
  <!-- <app-login></app-login> -->
  <!-- <router-outlet></router-outlet> -->
  <!-- <app-sign-up></app-sign-up> -->
<!-- </main> -->